@model IEnumerable<PDF1.Models.Sample>
@{
    /**/
    //Layout = null;
    ViewBag.Title = "Employee Details";
}

<h2>Report</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GeneratePDF</title>
</head>
<body>
    <div>
        @*<img src="@Model.PDFLogo" alt="" />*@
    </div>
    <div>

        <table class="table-striped" width="1000px", height="100px" style="font-size:large">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmpId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>


            </tr>
            }

        </table>
    </div>
</body>
</html>
